@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* inicio */
/* text fijo*/
.text-fijo {
  font-size: 14px;
  text-align: center;
  background-color: #329240;
  font-weight: 600;
}

.logo-principal {
  width: 175px;
  margin: 9px 0px 9px 50px;
}

/* navbar */
.collapse {
  justify-content: end;
}

.navbar-nav {
  margin-right: 85px;
  font-size: 20px;
}

.nav-link {
  font-size: 18px;
  margin-right: 20px;
}

/* categorias */
h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-top: 35px;
  font-size: 35px;
  font-weight: 600;
}

.sub-cont-categorias1 {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.sub-cont-categorias2 {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.categoria {
  margin: 15px 70px 0px 70px;
}
.categoria img {
  margin-left: 20px;
  width: 120px;
}
.categoria h3 {
  font-size: 16px;
  text-align: center;
  margin-left: 15px;
  padding-top: 8px;
}

.img-categoria2 {
  padding-left: 5px;
}

.h3-2 {
  padding-left: 7px;
}

.h3-dif-2 {
  padding-left: 20px;
}

.ortopedia {
  padding-left: 7px;
}

.pañal {
  padding-left: 4px;
}

/* ofertas */
.sub-cont-novedades {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
.sub-cont-novedades p {
  margin-right: 150px;
  font-size: 21px;
}
.sub-cont-novedades a {
  margin-left: 250px;
  font-size: 18px;
  text-decoration: none;
  color: #37B34A;
  font-weight: 600;
}

.img-novedades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.img-novedades img {
  width: 325px;
  margin: 0px 30px 20px 30px;
  border-radius: 10px;
}

.contenedor-novedades {
  background-color: rgb(238, 238, 238);
  padding: 17px;
  margin-top: 90px;
  box-shadow: 0 0 10px rgba(194, 194, 194, 0.616);
}

/* día del padre */
.contenedorImgPadre {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedorImgPadre img {
  width: 600px;
  margin: 10px;
}

/* colgate */
/* footer */
.logo-footer {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0 5px rgba(155, 155, 155, 0.185));
}

.parrafoSeguinos {
  color: #cccccc;
  margin-top: 2px;
  margin-bottom: 4px;
}

.contenedorFooter {
  border-top: 2px solid #000;
  margin-top: 80px;
  background-color: rgb(52, 87, 87);
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}
.contenedorFooter li {
  list-style: none;
  color: #cccccc;
  padding: 2px;
}
.contenedorFooter li a {
  color: #000;
  text-decoration: none;
}
.contenedorFooter li a:hover {
  color: #fff;
}

.redesLista1 a {
  color: #cccccc;
  font-size: 25px;
  letter-spacing: 15px;
}
.redesLista1 a:hover {
  color: #fff;
}

.tituloListaFooter {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
}

.subTitulolistaFooter {
  font-size: 16px;
  text-decoration: underline;
}

.listaFooter2 li a {
  color: #cccccc;
}

/* link wspp */
.wsppLink {
  height: 53px;
  width: 53px;
  background-color: #329240;
  color: #cccccc;
  position: fixed;
  bottom: 55px;
  right: 50px;
  line-height: 53px;
  border-radius: 50%;
  box-shadow: 0 0 6px #575757;
  text-align: center;
  font-size: 32px;
}
.wsppLink:hover {
  color: #fff;
}

/* productos */
.contenedorEnlacesProductos {
  background-color: #264D8E;
  text-align: center;
  height: 38px;
}
.contenedorEnlacesProductos a {
  color: #fff;
  text-decoration: none;
  padding: 9px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 38px;
  border-right: 3px solid #000;
}
.contenedorEnlacesProductos .aDif {
  border: none;
}

/* pañales */
.tituloProductos {
  margin-top: 35px;
  text-align: center;
  background-color: #cccccc;
  font-size: 16px;
  color: #000;
  height: 25px;
  line-height: 25px;
}

.contenedorPañales, .contenedorDietetica2, .contenedorDietetica {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 40px;
}
.contenedorPañales .card, .contenedorDietetica2 .card, .contenedorDietetica .card {
  margin: 25px;
}
.contenedorPañales .card .card-title, .contenedorDietetica2 .card .card-title, .contenedorDietetica .card .card-title {
  font-size: 22px;
}
.contenedorPañales .card .list-group-item, .contenedorDietetica2 .card .list-group-item, .contenedorDietetica .card .list-group-item {
  font-size: 15px;
}

.contenedorDietetica2 .card-img-top {
  width: 140px;
  margin-left: 72px;
}

.contenedorOrtopedia, .contenedorProductosFaciales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 40px;
}
.contenedorOrtopedia .card, .contenedorProductosFaciales .card {
  margin: 25px;
}
.contenedorOrtopedia .card .card-title, .contenedorProductosFaciales .card .card-title {
  font-size: 22px;
}

/* salud */
/* diabetes */
.diabetes {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../assets/diabetes.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
}
.diabetes h3 {
  color: #fff;
  padding-top: 100px;
  padding-right: 90px;
  font-size: 40px;
  font-family: "Lato", sans-serif;
}
.diabetes p {
  color: #fff;
  padding-top: 20px;
  padding-right: 90px;
  font-size: 19px;
}
.diabetes a {
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  margin-right: 90px;
  font-size: 18px;
  padding: 10px;
  border-radius: 7px;
  background-color: #5e84c5;
}
.diabetes a:hover {
  text-decoration: underline;
}

.contenedorPlantillas {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 90px;
}
.contenedorPlantillas .textoTitulo h3 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
}
.contenedorPlantillas .textoTitulo p {
  font-size: 19px;
  padding-top: 20px;
}
.contenedorPlantillas .textoTitulo a {
  color: #000;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
  padding: 10px;
  border-radius: 7px;
  background-color: #cccccc;
}
.contenedorPlantillas .textoTitulo a:hover {
  text-decoration: underline;
}
.contenedorPlantillas .plantillas img {
  width: 460px;
  margin-left: 50px;
  border-radius: 10px;
}

.contenedorRecetas {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 110px;
}
.contenedorRecetas .textoTitulo2 h3 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
}
.contenedorRecetas .textoTitulo2 p {
  font-size: 19px;
  padding-top: 20px;
}
.contenedorRecetas .textoTitulo2 a {
  color: #000;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
  padding: 10px;
  border-radius: 7px;
  background-color: #cccccc;
}
.contenedorRecetas .textoTitulo2 a:hover {
  text-decoration: underline;
}
.contenedorRecetas .recetas img {
  width: 550px;
  margin-left: 50px;
  border-radius: 10px;
}

/* sucursales */
.contenedorMapas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 55px;
}
.contenedorMapas .sucursalEtruria .h3mapas, .contenedorMapas .sucursalPasco .h3mapas, .contenedorMapas .sucursalLaguna .h3mapas {
  font-size: 25px;
  text-align: center;
  margin-bottom: 13px;
  font-family: "Lato", sans-serif;
}
.contenedorMapas .sucursalEtruria .listaMapa li, .contenedorMapas .sucursalPasco .listaMapa li, .contenedorMapas .sucursalLaguna .listaMapa li {
  list-style: none;
  margin-top: 10px;
}
.contenedorMapas .sucursalEtruria .listaMapa li i, .contenedorMapas .sucursalPasco .listaMapa li i, .contenedorMapas .sucursalLaguna .listaMapa li i {
  padding: 5px;
  margin-right: 10px;
  font-size: 22px;
  color: #fff;
  background-color: #37B34A;
  height: 40px;
  width: 40px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}/*# sourceMappingURL=estilo.css.map */