@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// paleta de colores
$color1: #264D8E;
$color2: #37B34A;
$color3: #329240;
$color4: #000;
$colorFooter: #cccccc;
$colorFooterHover: #fff;

// fuentes
$fuente-principal: "Inter", sans-serif;
$fuente-titulos: "Lato", sans-serif;
$fuente-h1: "Montserrat", sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fuente-principal;
}

/* inicio */
/* text fijo*/
.text-fijo{
    font-size: 14px;
    text-align: center;
    background-color: #329240;
    color: $colorFooterHover;
    font-family: $fuente-h1;
}

.logo-principal{
    width: 170px;
    margin: 9px 0px 9px 50px;
}

/* navbar */
.collapse{
    justify-content: center;
}

.navbar-collapse{
    .navbar-nav{
        margin-right: 105px;
        .nav-item{
            .nav-link{
                color: $color4;
                font-weight: 450;
                font-size: 17px;
                margin-right: 19px;
            }
        }
    }
}
.redesNavBar{
    display: flex;
    margin-right: 50px;
    a{
        color: $color4;
        font-size: 25px;
        margin-right: 15px;
    }
}

/* frase h1 */

.h1-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 1.5rem;
    img{
        width: 50px;
        height: 50px;
    }
    h1{
        font-size: 30px;
        font-family: $fuente-h1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* categorias */
.categoriasTitulo{
    text-align: left;
    font-family: $fuente-h1;
    margin-top: 70px;
    font-size: 27px;
    margin-left: 311px;
    font-weight: 500;
}

.contenedor-categorias{
    margin-top: 25px;
}

.sub-cont-categorias1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .categoria{
        img{
            width: 250px;
            margin: 0px 4px 0px 4px;
        }
    }
}

.sub-cont-categorias2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 257px;
    .categoria{
        img{
            width: 250px;
            margin: 10px 4px 0px 4px;
        }
    }
}

/* categorias no visibles */
.categoria-display-celular{
    display: none;
}

/* banner dermo */
.contenedorDermo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    img{
        width: 1280px;
    }
}

/* electro salud */
.titlElecSalud{
    @extend .h2ProductsDestacados;
}
.contenedorElectroSalud{
    @extend .contenedorDestacados;
}

/* salud farmacia */
.contenedorSaludGeneral{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .contenedorSalud{
        background-color: #f7e9df;
        padding: 23px;
        border-radius: 12px;
        width: 483px;
        h3{
            font-size: 20px;
        }
        p{
            font-size: 16px;
            padding-top: 10px;
            text-wrap: balance;
        }
        .aSalud{
            margin-top: 193px;
            a{
                color: #3671b1;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                padding: 5px;
                border: solid 1px #3671b1;
                border-radius: 5px;
            }
        }
    }
    .contenedorPlantRecetas{
        margin-left: 25px;
        .subContRecetas{
            background-color: #f7e9df;
            padding: 23px;
            border-radius: 12px;
            margin-top: 0;
            width: 765px;
            height: 252px;
            h3{
                font-size: 20px;
            }
            p{
                font-size: 16px;
                padding-top: 10px;
                margin-bottom: 45px;
            }
            .aRecPlant{
                margin-top: 20px;
                a{  
                    color: #3671b1;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 5px;
                    border: solid 1px #3671b1;
                    border-radius: 5px;
                }
            }
        }
        .subContPlantillas{
            background-color: #f7e9df;
            padding: 23px;
            margin-top: 20px;
            border-radius: 12px;
            height: 252px;
            h3{
                font-size: 20px;
            }
            p{
                font-size: 16px;
                padding-top: 10px;
            }
            .aRecPlant{
                margin-top: 21px;
                a{  
                    color: #3671b1;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 5px;
                    border: solid 1px #3671b1;
                    border-radius: 5px;
                }
            }
        }
    }
}

/* banner accesorios */

.contenedorAccesorios{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    img{
        width: 1281px;
    }
}

/* productos destacados cards */
.h2ProductsDestacados{
    @extend .categoriasTitulo;
    margin-top: 50px;
}
.contenedorDestacados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .cardsDestacados{
        width: 301px;
        margin: 0px 13px 12px 13px;
        .cardDest{
            background-color: #cee1f4;
            border-radius: 10px;
            padding-bottom: 12px;
            transition: all 0.5s;
            
            &:hover{
                box-shadow: 0 0 10px $colorFooter;
            }

            img{
                width: 100%;
            }
            .dataCardDest{
                background-color: $colorFooterHover;
                border-radius: 10px;
                margin: 0px 12px 0px 12px;
                padding: 10px;
                height: 100px;
                h3{
                    font-size: 20px;
                    font-family: $fuente-h1;
                    font-weight: 600;
                    margin: 0;
                }
                .flexPa{
                    display: flex;
                    justify-content: space-between;
                    a{
                        text-decoration: none;
                        margin-top: 25px;
                        font-size: 20px;
                        width: 35px;
                        height: 35px;
                        text-align: center;
                        line-height: 32px;
                        color: $colorFooterHover;
                        background-color: #f48ab6;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

/* footer */
.logo-footer{
    width: 85px;
    height: 85px;
}

footer{
    background-color: #cee1f4;
}

.contenedorFooter{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    li{
        list-style: none;
        color: $color4;
        padding: 2px;
        a{
            color: $color4;
            text-decoration: none;
        }
    }
}

.redesLista1{
    margin-top: 5px;
    a{
        color: $color4;
        font-size: 22px;
        letter-spacing: 10px;
    }
}

.tituloListaFooter{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 525;
}

.subTitulolistaFooter{
    font-size: 16px;
    text-decoration: underline;
}

.listaFooter2{
    li{
        a{
            color: $color4;
        }
    }
}

.contTextoFooter{
    p{
        margin: 0;
        padding-bottom: 15px;
        text-align: center;
        color: $color4;
        font-size: 15px;
    }
}

.contPerfil{
    display: flex;
    justify-content: end;
    margin-top: 25px;
    p{
        color: $color4;
        margin-bottom: 3px;
        font-size: 13px;
        padding-top: 10px;
        border-top: 1px solid $color4;
        width: 395px;
        text-align: center;
    }

}

.perfilRedes{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    padding-bottom: 20px;
    a{
        color: $color4;
        font-size: 17px;
        letter-spacing: 11px;
        padding-top: 2px;
    }
}

/* link wspp */
.wsppLink{
    height: 53px;
    width: 53px;
    background-color: $color3;
    color: $colorFooterHover;
    position: fixed;
    bottom: 89px;
    right: 50px;
    line-height: 53px;
    border-radius: 50%;
    box-shadow: 0 0 6px #4e4e4e;
    text-align: center;
    font-size: 32px;

    &:hover{
        color: $colorFooterHover;
    }
}

/* productos */
.contenedorEnlacesProductos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    a{
        img{
            width: 206px;
            margin: 4px;
        }
    }
}

//titulo pañales
.tituloProductos{
    margin-top: 40px;
    font-family: $fuente-h1;
    font-size: 26px;
    margin-left: 312px;
    font-weight: 550;
    scroll-margin-top: 40px; 
}
//card pañales
.contenedorPañales{
    @extend .contenedorDestacados;
}

//leches
.contenedorLeches{
    @extend .contenedorPañales;
}

//dietetica
.contenedorDietetica{
    @extend .contenedorPañales;
}

.contenedorDietetica2{
    @extend .contenedorDietetica;
    margin-top: 20px;
}

//ortopedia
.contenedorOrtopedia{
    @extend .contenedorPañales;
}

.imgBodyCare{
    border-radius: 10px;
}

//productos faciales
.contenedorProductosFaciales{
    @extend .contenedorPañales;
}

//suplementos
.contenedorSuplementos{
    @extend .contenedorPañales;
}

.contenedorSuplementos2{
    @extend .contenedorPañales;
    margin-top: 20px;
}

/* salud */
/* diabetes */
.diabetes{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)),
    url(../assets/diabetes.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: right;
    .subContDiabetes{
        width: 1300px;
        h3{
            color: $colorFooterHover;
            padding-top: 90px;
            font-size: 35px;
            font-weight: 600;
            font-family: $fuente-h1;
        }
        p{
            color: $colorFooterHover;
            font-size: 19px;
        }
        a{
            color: $colorFooterHover;
            text-decoration: none;
            margin-top: 15px;
            font-size: 18px;
            padding: 7px;
            border-radius: 7px;
            background-color: #f48ab6;
        }
    }
}

/* plantillas */
.contenedorPlantillas{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 1300px;
    margin: 0 auto;
    .textoTitulo{
        margin-right: 212px;
        h3{
            font-family: $fuente-h1;
            font-size: 35px;
            font-weight: 600;
        }
        p{
            font-size: 19px;
        }
        a{
            color: $colorFooterHover;
            text-decoration: none;
            margin-top: 15px;
            font-size: 18px;
            padding: 7px;
            border-radius: 7px;
            background-color: #f48ab6;
        }
    }
    .plantillas{
        img{
            width: 460px;
            border-radius: 10px;
        }
    }
}

/* recetas */
.contenedorRecetas{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    width: 1300px;
    margin-bottom: 100px;
    .textoTitulo2{
        h3{
            font-family: $fuente-h1;
            font-size: 35px;
            font-weight: 600;
        }
        p{
            font-size: 19px;
        }
        a{
            color: $colorFooterHover;
            text-decoration: none;
            font-size: 18px;
            padding: 7px;
            border-radius: 7px;
            background-color: #f48ab6;
        }
    }
    .recetas{
        img{
            width: 550px;
            border-radius: 10px;
        }
    }
}

/* alquiler ortopedico */
.contenedorAlquilerOrtopedico{
    background: linear-gradient(rgba(5, 7, 12, 0.534), rgba(5, 7, 12, 0.534)),
    url(../assets/importancia-rehabilitacion-despues-cirugia-ortopedica-2.jpg) ;
    width: 100%;
    height: 700px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: right;
    margin-top: 100px;
    margin-bottom: 100px;
    .subContAlquilerOrtope{
        width: 1300px;
        margin: 0 auto;
        h3{
            font-family: $fuente-h1;
            font-size: 35px;
            font-weight: 600;
            color: $colorFooterHover;
            padding-top: 90px;
        }
        p{
            font-size: 19px;
            color: $colorFooterHover;
        }
        a{
            color: $colorFooterHover;
            text-decoration: none;
            font-size: 18px;
            padding: 7px;
            border-radius: 7px;
            background-color: #f48ab6;
        }
    }
}

/* sucursales */
.contenedorMapas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
    .sucursalEtruria{
        .h3mapas{
            font-size: 25px;
            text-align: center;
            margin-bottom: 13px;
            font-family: $fuente-h1;
        }
        .listaMapa{
            li{
                list-style: none;
                margin-top: 10px;               
                i{
                    padding: 5px;
                    margin-right: 10px;
                    font-size: 22px;
                    color: $colorFooterHover;
                    background-color: $color2;
                    height: 40px;
                    width: 40px;
                    line-height: 30px;
                    border-radius: 50%;
                    text-align: center;
                }
            }
        }
    }
    .sucursalLaguna{
        @extend .sucursalEtruria;
    }
    .sucursalPasco{
        @extend .sucursalEtruria;
    }
}

/* convenios y obras sociales */
.h2Convenios{
    font-family: $fuente-h1;
    font-size: 27px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 2px;
}

.contenedorConveniosObrasSos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .subcontCaja1{
        display: flex;
        justify-content: center;
        background-color: #cee1f4;
        padding-top: 27px;
        padding-bottom: 27px;
        border-radius: 10px;
        width: 380px;
        height: 130px;
        margin: 10px;
        .imgLink{
            text-decoration: none;
            display: flex;
            img{
                width: 250px;
                height: 67px;
                margin-right: 10px;
            }
        }
        p{
            color: $colorFooterHover;
            background-color: #f48ab6;
            height: 35px;
            width: 35px;
            line-height: 32px;
            text-align: center;
            border-radius: 50%;
            margin-top: 40px;
            margin-left: 12px;
        }
    }
}

/* media queris */
//titulos home
@media (max-width: 1610px){
    .categoriasTitulo{
        margin-left: 160px;
    }
}

//salud
@media (max-width: 1020px){
    .contenedorRecetas{
        display: block;
        width: 385px;
        margin-top: 60px;
        margin-bottom: 0px;
        .textoTitulo2{
            h3{
                text-align: center;
                font-size: 18px;
            }
            p{
                font-size: 12px;
                text-align: center;
                margin: 0px;
            }
            .enviarReceta{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                a{
                    padding: 4px;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 5px;
                }
            }
        }
        .recetas{
            margin-top: 17px;
            display: flex;
            justify-content: center;
            img{
                width: 250px;
            }
        }
    }
    .diabetes{
        display: block;
        background: none;
        margin-top: 60px;
        height: 0px;
        text-align: center;
        .subContDiabetes{
            margin-bottom: 60px;
            width: 385px;
            height: 160px;
            h3{
                padding: 0;
                margin-top: 50px;
                text-align: center;
                font-size: 18px;
                color: $color4;
            }
            p{
                font-size: 11px;
                text-align: center;
                margin: 0px;
                color: $color4;
            }
            .recetas{
                margin-top: 10px;
                a{
                    padding: 4px;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 5px;
                }
            }
        }
    }
    .contenedorPlantillas{
        display: block;
        padding: 0px;
        width: 385px;
        .textoTitulo{
            margin-right: 0px;
            margin-top: 208px;
            h3{
                font-size: 18px;
                text-align: center;
            }
            p{
                font-size: 12px;
                text-align: center;
                margin: 0px;
            }
            .recetas{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                a{
                    margin-top: 0px;
                    padding: 4px;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 5px;
                }
            }
        }
        .plantillas{
            margin-top: 17px;
            display: flex;
            justify-content: center;
            img{
                width: 250px;
            }
        }
    }
    .contenedorAlquilerOrtopedico{
        background: none;
        margin-top: 60px;
        margin-bottom: 60px;
        height: 150px;
        .subContAlquilerOrtope{
            width: 385px;
            h3{
                color: $color4;
                text-align: center;
                font-size: 18px;
                padding: 0px;
            }
            p{
                color: $color4;
                font-size: 12px;
                text-align: center;
                margin: 0px;
            }
            .recetas{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                a{
                    margin-top: 0px;
                    padding: 4px;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 5px;
                }
            }
        }
    }
}

//navbar
@media (max-width: 1020px){
    .text-fijo{
        font-size: 11px;
    }
    .logo-principal{
        width: 115px;
        margin-left: 5px;
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    margin-right: 10px;
                    font-size: 13px;
                }
            }
        }
    }
    .redesNavBar{
        a{
            display: none;
        }
    }
    .navbar-toggler{
        padding: .30rem .50rem;
        font-size: 16px;
        .navbar-toggler-icon{
            width: 25px;
        }
    }
}

//carrusel 
.carousel-control-prev-icon{
    width: 20px;
}
.carousel-control-next-icon{
    width: 20px;
}

#carouselExampleIndicators{
    .carousel-indicators{
        button{
            width: 20px;
            height: 2px;
            border: 0;
        }
    }
}

//inicio
@media (max-width: 1020px){
    .contenedorHome{
        .h1-icon{
            display: block;
            margin-top: 25px;
            h1{
                font-size: 15px;
                margin-top: 13px;
            }
            .logoH1{
                width: 30px;
                height: 30px;
                margin-right: 0px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    
    .contenedor-categorias{
        .categoriasTitulo{
            margin-left: 15px;
            margin-top: 30px;
            font-size: 13px;
            margin-bottom: 2px;
        }
        .sub-cont-categorias1{
            margin-top: 2px;
            .categoria{
                margin: 2px;
                img{
                    margin: 0px;
                    width: 120px;
                }
            }
        }
        .sub-cont-categorias2{
            display: none;
            .categoria{
                margin: 1px;
                img{
                    margin: 0px;
                    width: 120px;
                }
            }
        }
        .categoria-display-celular{
            display: flex;
            margin: 2px;
            img{
                width: 120px;
            }
        }
    }

    .contenedorDermo{
        margin-top: 30px;
        img{
            padding: 0px 12px 0px 12px;
        }
    }

    .contenedorAccesorios{
        margin-top: 30px;
        img{
            padding: 0px 13px 0px 13px;
        }
    }

    .titlElecSalud{
        margin-left: 14px;
        margin-top: 30px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .contenedorElectroSalud{
        .cardsDestacados{
            width: 177px;
            margin: 5px 5px 10px 5px;
            .cardDest{
                .dataCardDest{
                    height: 60px;
                    width: 160px;
                    margin: 0px 10px 0px 10px;
                    h3{
                        font-size: 11px;
                    }
                    .flexPa{
                        p{
                            font-size: 10px;
                        }
                        a{
                            font-size: 12px;
                            height: 19px;
                            width: 19px;
                            line-height: 17px;
                            margin-top: 10px;
                        }
                        .nebUltra-A{
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    .contenedorSaludGeneral{
        margin-top: 30px;
        .contenedorSalud{
            width: auto;
            padding: 20px;
            height: 289px;
            margin: 10px;
            h3{
                font-size: 15px;
            }
            p{
                font-size: 12px;
                padding-top: 5px;
                margin-bottom: 5px;
            }
            .aSalud{
                margin-top: 15px;
                a{
                    font-size: 12px;
                }
            }
        }
        .contenedorPlantRecetas{
            margin: 10px 10px 0px 10px;
            .subContRecetas{
                padding: 20px;
                height: 289px;
                width: auto;
                h3{
                    font-size: 15px;
                }
                p{
                    font-size: 12px;
                    padding-top: 5px;
                    margin-bottom: 0px;
                }
                .aRecPlant{
                    margin-top: 15px;
                    a{
                        font-size: 12px;
                    }
                }
            }
            .subContPlantillas{
                margin-top: 20px;
                padding: 20px;
                height: 289px;
                h3{
                    font-size: 15px;
                }
                p{
                    font-size: 12px;
                    padding-top: 5px;
                    margin-bottom: 5px;
                }
                .aRecPlant{
                    margin-top: 14px;
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .h2ProductsDestacados{
        margin-left: 15px;
        margin-top: 30px;
        font-size: 13px;
        margin-bottom: 2px;
    }
    .contenedorDestacados{
        .cardsDestacados{
            width: 177px;
            margin: 5px;
            .cardDest{
                .dataCardDest{
                    height: 60px;
                    width: 160px;
                    margin: 0px 10px 0px 10px;
                    h3{
                        font-size: 11px;
                    }
                    .flexPa{
                        p{
                            font-size: 10px;
                        }
                        a{
                            font-size: 12px;
                            height: 19px;
                            width: 19px;
                            line-height: 17px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .logo-footer{
        width: 70px;
        height: 70px;
        margin-left: 8px;
    }
    .parrafoSeguinos{
        font-size: 11px;
        margin-left: 10px;
    }
    .redesLista1{
        margin-left: 15px;
        a{
            font-size: 17px;
            letter-spacing: 5px;
        }
        
    }
    .tituloListaFooter{
        font-size: 14px;
    }
    .subTitulolistaFooter{
        font-size: 12px;
    }
    .listaFooter2{
        ul{
            li{
                a{
                    font-size: 12px;
                }
            }
        }
    }
    .listaFooter3{
        ul{
            li{
                font-size: 11px;
                margin-right: 10px;
            }
            .tituloListaFooter{
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
    .contTextoFooter{
        p{
            font-size: 11px;
        }
    }
    .contenedorFooter{
        padding-bottom: 14px;
        margin-top: 30px;
    }
    footer{
        text-align: center;
    }
    .wsppLink{
        height: 35px;
        width: 35px;
        line-height: 36px;
        font-size: 21px;
        bottom: 80px;
        right: 14px;
        box-shadow: 0 0 3px #4e4e4e;
        position: fixed;
    }
    .contPerfil{
        margin-top: 17px;
        p{
            font-size: 9px;
            text-align: right;
            padding-right: 11px;
            width: 190px;
            margin-bottom: 1px;
        }
    }
    .perfilRedes{
        margin-right: 5px;
        padding-bottom: 15px;
        a{
            font-size: 14px;
            padding-top: 1px;
            letter-spacing: 9px;
        }
    }
}

//productos
@media (max-width: 1020px){
    .contenedorEnlacesProductos{
        margin-top: 30px;
        a{
            img{
                width: 115px;
            }
        }
    }
    .tituloProductos{
        font-size: 13px;
        margin: 30px 0px 2px 14px;
        scroll-margin-top: 30px;
    }
    .contenedorSuplementos2{
        margin: 0px;
    }
    .contenedorDietetica2{
        margin: 0px;
    }
}

//convenios
@media (max-width: 1020px){
    .h2Convenios{
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .contenedorConveniosObrasSos{
        .subcontCaja1{
            align-items: center;
            width: 320px;
            height: 100px;
            padding: 20px;
            .imgLink{
                img{
                    width: 205px;
                    height: 57px;
                    margin-right: 0px;
                }
            }
            p{
                display: none;
            }
        }
    }
}

//sucursales
@media (max-width: 1020px){
    .contenedorMapas{
        .sucursalEtruria{
            margin-bottom: 60px;
            .h3mapas{
                h3{
                    font-size: 20px;
                    padding-bottom: 10px;
                }
            }
            .listaMapa{
                margin-top: 25px;
                ul{
                    li{
                        font-size: 15px;
                        i{
                            font-size: 17px;
                            height: 35px;
                            width: 35px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        .sucursalLaguna{
            margin-bottom: 60px;
            .h3mapas{
                h3{
                    font-size: 20px;
                    padding-bottom: 10px;
                }
            }
        }
        .sucursalPasco{
            margin-bottom: 60px;
            .h3mapas{
                h3{
                    font-size: 20px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}