@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

// paleta de colores
$color1: #264D8E;
$color2: #37B34A;
$color3: #329240;
$color4: #000;
$colorFooter: #cccccc;
$colorFooterHover: #fff;

// fuentes
$fuente-principal: "Inter", sans-serif;
$fuente-titulos : "Lato", sans-serif;
$fuente-h1: "Figtree", sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fuente-principal;
}

/* inicio */
/* text fijo*/
.text-fijo{
    font-size: 14px;
    text-align: center;
    background-color: #329240;
    font-weight: 600;
}

.logo-principal{
    width: 175px;
    margin: 9px 0px 9px 50px;
}

/* navbar */
.collapse{
    justify-content: end;
}

.navbar-nav{
    margin-right: 85px;
    font-size: 20px;
}

.nav-link{
    font-size: 18px;
    margin-right: 20px;
}

/* categorias */
h1{
    text-align: center;
    font-family: $fuente-principal;
    margin-top: 35px;
    font-size: 35px;
    font-weight: 600;
}

.sub-cont-categorias1{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.sub-cont-categorias2{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.categoria{
    margin: 15px 70px 0px 70px;
    img{
        margin-left: 20px;
        width: 120px;
    }
    h3{
        font-size: 16px;
        text-align: center;
        margin-left: 15px;
        padding-top: 8px;
    }
}

//estilos titulos e imagenes

.img-categoria2{
    padding-left: 5px;
}

.h3-2{
    padding-left: 7px;
}

.h3-dif-2{
    padding-left: 20px;
}

.ortopedia{
    padding-left: 7px;
}

.pañal{
    padding-left: 4px;
}

/* ofertas */
.sub-cont-novedades{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    p{
        margin-top: 5px;
        margin-right: 150px;
        font-size: 21px;
    }
    a{
        margin-top: 5px;
        margin-left: 250px;
        font-size: 18px;
        text-decoration: none;
        color: $color2;
        font-weight: 600;

        &:hover{
            text-decoration: underline;
        }
    }
}

.img-novedades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img{
        width: 325px;
        margin: 0px 30px 20px 30px;
        border-radius: 7px;
    }
}

.contenedor-novedades{
    background-color: rgb(238, 238, 238);
    padding: 17px;
    margin-top: 90px;
    box-shadow: 0 0 10px rgba(194, 194, 194, 0.616);
}

/* día del padre */
.diaPadre{
    margin: 80px 0px 80px 0px;
    .sub-cont-padre{
        @extend .sub-cont-novedades;
        margin: 0;
    }
    .contenedorImgPadre{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            width: 600px;
            margin: 10px;
            border-radius: 7px;
        }
    }
}

/* colgate */
.contenedorOfertas{
    @extend .contenedor-novedades;
    padding-bottom: 40px;
    .sub-cont-ofertas{
        @extend .sub-cont-novedades;
        p{
            margin-right: 650px;
            margin-top: 5px;
        }
        a{
            margin-left: 300px;
            margin-top: 5px;
        }
    }
    .img-descuentos-colgate{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            width: 350px;
            margin: 10px;
            border-radius: 7px;
        }
    }
}

/* footer */
.logo-footer{
    width: 100px;
    height: 100px;
    filter: drop-shadow(
        0 0 5px rgba(155, 155, 155, 0.185)
    );
}

footer{
    background-color:rgb(52, 87, 87);
}

.parrafoSeguinos{
    color: $colorFooter;
    margin-top: 2px;
    margin-bottom: 4px;
}

.contenedorFooter{
    border-top: 2px solid $color4;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    li{
        list-style: none;
        color: $colorFooter;
        padding: 2px;
        a{
            color: $color4;
            text-decoration: none;
            &:hover{
                color: $colorFooterHover;
            }
        }
    }
}

.redesLista1{
    a{
        color: $colorFooter;
        font-size: 25px;
        letter-spacing: 15px;

        &:hover{
            color: $colorFooterHover;
        }
    }
}

.tituloListaFooter{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
}

.subTitulolistaFooter{
    font-size: 16px;
    text-decoration: underline;
}

.listaFooter2{
    li{
        a{
            color: $colorFooter;
        }
    }
}

.contTextoFooter{
    p{
        margin: 0;
        padding-bottom: 15px;
        text-align: center;
        color: $colorFooter;
        font-size: 14px;
    }
}

/* link wspp */
.wsppLink{
    height: 53px;
    width: 53px;
    background-color: $color3;
    color: $colorFooterHover;
    position: fixed;
    bottom: 55px;
    right: 50px;
    line-height: 53px;
    border-radius: 50%;
    box-shadow: 0 0 6px #4e4e4e;
    text-align: center;
    font-size: 32px;

    &:hover{
        color: $colorFooterHover;
    }
}

/* productos */
.contenedorEnlacesProductos{
    background-color: $color1;
    text-align: center;
    height: 38px;
    a{
        color: $colorFooterHover;
        text-decoration: none;
        padding: 9px;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 38px;
        border-right: 3px solid $color4;
    }
    .aDif{
        border: none;
    }
}

//link más info cards
.btn{
    padding: 7px;
    margin-top: 5px;
    &:hover{
        text-decoration: underline;
    }
}

//titulo pañales
.tituloProductos{
    margin-top: 35px;
    text-align: center;
    background-color: $colorFooter;
    font-size: 16px;
    color: $color4;
    height: 25px;
    line-height: 25px;
    scroll-margin-top: 35px;
}

//card pañales
.contenedorPañales{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 40px;
    .card{
        margin: 25px;
        .card-title{
            font-size: 22px;
        }
        .list-group-item{
            font-size: 15px;
        }
    }
}

//leches
.contenedorLeches{
    @extend .contenedorPañales;
}

//dietetica
.contenedorDietetica{
    @extend .contenedorPañales;
}

.contenedorDietetica2{
    @extend .contenedorPañales;
    .card-img-top{
        width: 140px;
        margin-left: 72px;
    }
}


//ortopedia
.contenedorOrtopedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;
    .card{
        margin: 25px;
        .card-title{
            font-size: 22px;
        }
    }
}

//productos faciales
.contenedorProductosFaciales{
    @extend .contenedorOrtopedia;
}

//suplementos
.contenedorSuplementos{
    @extend .contenedorOrtopedia;
}

.contenedorSuplementos2{
    @extend .contenedorOrtopedia;
}

//accesorios
.contenedorAccesorios{
    @extend .contenedorOrtopedia;
}

/* salud */
/* diabetes */
.diabetes{
    width: 100%;
    height: 700px;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)),
    url(../assets/diabetes.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: right;
    h3{
        color: $colorFooterHover;
        padding-top: 100px;
        padding-right: 90px;
        font-size: 40px;
        font-family: $fuente-titulos;
    }
    p{
        color: $colorFooterHover;
        padding-top: 20px;
        padding-right: 90px;
        font-size: 19px;
    }
    a{
        color: $colorFooterHover;
        text-decoration: none;
        margin-top: 15px;
        margin-right: 90px;
        font-size: 18px;
        padding: 10px;
        border-radius: 7px;
        background-color: #5e84c5;

        &:hover{
            text-decoration: underline;
        }
    }
}

//plantillas
.contenedorPlantillas{
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 90px;
    .textoTitulo{
        h3{
            font-family: $fuente-titulos;
            font-size: 40px;
        }
        p{
            font-size: 19px;
            padding-top: 20px;
        }
        a{
            color: $color4;
            text-decoration: none;
            margin-top: 15px;
            font-size: 18px;
            padding: 10px;
            border-radius: 7px;
            background-color: $colorFooter;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    .plantillas{
        img{
            width: 460px;
            margin-left: 50px;
            border-radius: 10px;
        }
    }
}

//recetas
.contenedorRecetas{
    display: flex;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 110px;
    .textoTitulo2{
        h3{
            font-family: $fuente-titulos;
            font-size: 40px;
        }
        p{
            font-size: 19px;
            padding-top: 20px;
        }
        a{
            color: $color4;
            text-decoration: none;
            margin-top: 15px;
            font-size: 18px;
            padding: 10px;
            border-radius: 7px;
            background-color: $colorFooter;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    .recetas{
        img{
            width: 550px;
            margin-left: 50px;
            border-radius: 10px;
        }
    }
}

/* sucursales */
.contenedorMapas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 55px;
    .sucursalEtruria{
        .h3mapas{
            font-size: 25px;
            text-align: center;
            margin-bottom: 13px;
            font-family: $fuente-titulos;
        }
        .listaMapa{
            li{
                list-style: none;
                margin-top: 10px;               
                i{
                    padding: 5px;
                    margin-right: 10px;
                    font-size: 22px;
                    color: $colorFooterHover;
                    background-color: $color2;
                    height: 40px;
                    width: 40px;
                    line-height: 30px;
                    border-radius: 50%;
                    text-align: center;
                }
            }
        }
    }
    .sucursalLaguna{
        @extend .sucursalEtruria;
    }
    .sucursalPasco{
        @extend .sucursalEtruria;
    }
}

//media queris
//productos
@media (max-width: 1020px){
    .card{
        width: 12rem;
    }
}

//navbar
@media (max-width: 1020px){
    .logo-principal{
        width: 115px;
        margin-left: 5px;
    }
    .text-fijo{
        font-size: 11px;
    }
    
}

//inicio
@media (max-width: 1020px){
    h1{
        font-size: 20px;
    }
    .categoria{
        margin: 2px;
        a{
            img{
                width: 65px;
            }
        }
        h3{
            font-size: 9px;
        }
    }
    .sub-cont-categorias1{
        margin-right: 25px;
    }
    .sub-cont-categorias2{
        margin-right: 40px;
    }
    .contenedor-novedades{
        margin-top: 40px;
    }
    .sub-cont-novedades{
        margin-bottom: 10px;
        p{
            font-size: 13px;
            margin-right: 40px;
        }
        a{
            font-size: 11px;
            margin-left: 30px;
        }
    }
    .img-novedades{
        img{
            width: 150px;
            margin: 0px 12px 10px 12px;
        }
    }
    .sub-cont-padre{
        margin-bottom: 0;
        p{
            margin-left: 18px;
        }
        a{
            margin-right: 10px;
        }
    }
    .diaPadre{
        margin-bottom: 60px;
        margin-top: 60px;
        .contenedorImgPadre{
            margin-top: 0;
            img{
                width: 300px;
            }
        }
    }
    .contenedorOfertas{
        .img-descuentos-colgate{
            img{
                width: 150px;
            }
        }
        .sub-cont-ofertas{
            margin-left: 32px;
        }
    }
    .logo-footer{
        width: 70px;
        height: 70px;
    }
    .parrafoSeguinos{
        font-size: 11px;
    }
    .redesLista1{
        a{
            font-size: 17px;
            letter-spacing: 5px;
        }
        
    }
    .tituloListaFooter{
        font-size: 14px;
    }
    .subTitulolistaFooter{
        font-size: 12px;
    }
    .listaFooter2{
        ul{
            li{
                a{
                    font-size: 12px;
                }
            }
        }
    }
    .listaFooter3{
        ul{
            li{
                font-size: 11px;
            }
            .tituloListaFooter{
                font-size: 14px;
            }
        }
    }
    .contTextoFooter{
        p{
            font-size: 12px;
        }
    }
    .contenedorFooter{
        padding-bottom: 20px;
        margin-top: 70px;
    }
    footer{
        text-align: center;
    }
    .wsppLink{
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 22px;
        bottom: 32px;
        right: 25px;
        box-shadow: 0 0 3px #4e4e4e;
        position: fixed;
    }

}
