@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* inicio */
/* text fijo*/
.text-fijo {
  font-size: 14px;
  text-align: center;
  background-color: #329240;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.logo-principal {
  width: 170px;
  margin: 9px 0px 9px 50px;
}

/* navbar */
.collapse {
  justify-content: center;
}

.navbar-collapse .navbar-nav {
  margin-right: 105px;
}
.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: 450;
  font-size: 17px;
  margin-right: 19px;
}

.redesNavBar {
  display: flex;
  margin-right: 50px;
}
.redesNavBar a {
  color: #000;
  font-size: 25px;
  margin-right: 15px;
}

/* frase h1 */
.h1-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 1.5rem;
}
.h1-icon img {
  width: 50px;
  height: 50px;
}
.h1-icon h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* categorias */
.categoriasTitulo, .h2ProductsDestacados, .titlElecSalud {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin-top: 70px;
  font-size: 27px;
  margin-left: 311px;
  font-weight: 500;
}

.contenedor-categorias {
  margin-top: 25px;
}

.sub-cont-categorias1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sub-cont-categorias1 .categoria img {
  width: 250px;
  margin: 0px 4px 0px 4px;
}

.sub-cont-categorias2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 257px;
}
.sub-cont-categorias2 .categoria img {
  width: 250px;
  margin: 10px 4px 0px 4px;
}

/* categorias no visibles */
.categoria-display-celular {
  display: none;
}

/* banner dermo */
.contenedorDermo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.contenedorDermo img {
  width: 1280px;
}

/* electro salud */
/* salud farmacia */
.contenedorSaludGeneral {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedorSaludGeneral .contenedorSalud {
  background-color: #f7e9df;
  padding: 23px;
  border-radius: 12px;
  width: 483px;
}
.contenedorSaludGeneral .contenedorSalud h3 {
  font-size: 20px;
}
.contenedorSaludGeneral .contenedorSalud p {
  font-size: 16px;
  padding-top: 10px;
  text-wrap: balance;
}
.contenedorSaludGeneral .contenedorSalud .aSalud {
  margin-top: 193px;
}
.contenedorSaludGeneral .contenedorSalud .aSalud a {
  color: #3671b1;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  border: solid 1px #3671b1;
  border-radius: 5px;
}
.contenedorSaludGeneral .contenedorPlantRecetas {
  margin-left: 25px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas {
  background-color: #f7e9df;
  padding: 23px;
  border-radius: 12px;
  margin-top: 0;
  width: 765px;
  height: 252px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas h3 {
  font-size: 20px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas p {
  font-size: 16px;
  padding-top: 10px;
  margin-bottom: 45px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas .aRecPlant {
  margin-top: 20px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas .aRecPlant a {
  color: #3671b1;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  border: solid 1px #3671b1;
  border-radius: 5px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas {
  background-color: #f7e9df;
  padding: 23px;
  margin-top: 20px;
  border-radius: 12px;
  height: 252px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas h3 {
  font-size: 20px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas p {
  font-size: 16px;
  padding-top: 10px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas .aRecPlant {
  margin-top: 21px;
}
.contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas .aRecPlant a {
  color: #3671b1;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  border: solid 1px #3671b1;
  border-radius: 5px;
}

/* banner accesorios */
.contenedorAccesorios {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.contenedorAccesorios img {
  width: 1281px;
}

/* productos destacados cards */
.h2ProductsDestacados, .titlElecSalud {
  margin-top: 50px;
}

.contenedorDestacados, .contenedorPañales, .contenedorSuplementos2, .contenedorSuplementos, .contenedorProductosFaciales, .contenedorOrtopedia, .contenedorDietetica, .contenedorDietetica2, .contenedorLeches, .contenedorElectroSalud {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedorDestacados .cardsDestacados, .contenedorPañales .cardsDestacados, .contenedorSuplementos2 .cardsDestacados, .contenedorSuplementos .cardsDestacados, .contenedorProductosFaciales .cardsDestacados, .contenedorOrtopedia .cardsDestacados, .contenedorDietetica .cardsDestacados, .contenedorDietetica2 .cardsDestacados, .contenedorLeches .cardsDestacados, .contenedorElectroSalud .cardsDestacados {
  width: 301px;
  margin: 0px 13px 12px 13px;
}
.contenedorDestacados .cardsDestacados .cardDest, .contenedorPañales .cardsDestacados .cardDest, .contenedorSuplementos2 .cardsDestacados .cardDest, .contenedorSuplementos .cardsDestacados .cardDest, .contenedorProductosFaciales .cardsDestacados .cardDest, .contenedorOrtopedia .cardsDestacados .cardDest, .contenedorDietetica .cardsDestacados .cardDest, .contenedorDietetica2 .cardsDestacados .cardDest, .contenedorLeches .cardsDestacados .cardDest, .contenedorElectroSalud .cardsDestacados .cardDest {
  background-color: #cee1f4;
  border-radius: 10px;
  padding-bottom: 12px;
  transition: all 0.5s;
}
.contenedorDestacados .cardsDestacados .cardDest:hover, .contenedorPañales .cardsDestacados .cardDest:hover, .contenedorSuplementos2 .cardsDestacados .cardDest:hover, .contenedorSuplementos .cardsDestacados .cardDest:hover, .contenedorProductosFaciales .cardsDestacados .cardDest:hover, .contenedorOrtopedia .cardsDestacados .cardDest:hover, .contenedorDietetica .cardsDestacados .cardDest:hover, .contenedorDietetica2 .cardsDestacados .cardDest:hover, .contenedorLeches .cardsDestacados .cardDest:hover, .contenedorElectroSalud .cardsDestacados .cardDest:hover {
  box-shadow: 0 0 10px #cccccc;
}
.contenedorDestacados .cardsDestacados .cardDest img, .contenedorPañales .cardsDestacados .cardDest img, .contenedorSuplementos2 .cardsDestacados .cardDest img, .contenedorSuplementos .cardsDestacados .cardDest img, .contenedorProductosFaciales .cardsDestacados .cardDest img, .contenedorOrtopedia .cardsDestacados .cardDest img, .contenedorDietetica .cardsDestacados .cardDest img, .contenedorDietetica2 .cardsDestacados .cardDest img, .contenedorLeches .cardsDestacados .cardDest img, .contenedorElectroSalud .cardsDestacados .cardDest img {
  width: 100%;
}
.contenedorDestacados .cardsDestacados .cardDest .dataCardDest, .contenedorPañales .cardsDestacados .cardDest .dataCardDest, .contenedorSuplementos2 .cardsDestacados .cardDest .dataCardDest, .contenedorSuplementos .cardsDestacados .cardDest .dataCardDest, .contenedorProductosFaciales .cardsDestacados .cardDest .dataCardDest, .contenedorOrtopedia .cardsDestacados .cardDest .dataCardDest, .contenedorDietetica .cardsDestacados .cardDest .dataCardDest, .contenedorDietetica2 .cardsDestacados .cardDest .dataCardDest, .contenedorLeches .cardsDestacados .cardDest .dataCardDest, .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest {
  background-color: #fff;
  border-radius: 10px;
  margin: 0px 12px 0px 12px;
  padding: 10px;
  height: 100px;
}
.contenedorDestacados .cardsDestacados .cardDest .dataCardDest h3, .contenedorPañales .cardsDestacados .cardDest .dataCardDest h3, .contenedorSuplementos2 .cardsDestacados .cardDest .dataCardDest h3, .contenedorSuplementos .cardsDestacados .cardDest .dataCardDest h3, .contenedorProductosFaciales .cardsDestacados .cardDest .dataCardDest h3, .contenedorOrtopedia .cardsDestacados .cardDest .dataCardDest h3, .contenedorDietetica .cardsDestacados .cardDest .dataCardDest h3, .contenedorDietetica2 .cardsDestacados .cardDest .dataCardDest h3, .contenedorLeches .cardsDestacados .cardDest .dataCardDest h3, .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest h3 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
}
.contenedorDestacados .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorPañales .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorSuplementos2 .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorSuplementos .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorProductosFaciales .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorOrtopedia .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorDietetica .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorDietetica2 .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorLeches .cardsDestacados .cardDest .dataCardDest .flexPa, .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest .flexPa {
  display: flex;
  justify-content: space-between;
}
.contenedorDestacados .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorPañales .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorSuplementos2 .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorSuplementos .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorProductosFaciales .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorOrtopedia .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorDietetica .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorDietetica2 .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorLeches .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest .flexPa a {
  text-decoration: none;
  margin-top: 25px;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  background-color: #f48ab6;
  border-radius: 50%;
}

/* footer */
.logo-footer {
  width: 85px;
  height: 85px;
}

footer {
  background-color: #cee1f4;
}

.contenedorFooter {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}
.contenedorFooter li {
  list-style: none;
  color: #000;
  padding: 2px;
}
.contenedorFooter li a {
  color: #000;
  text-decoration: none;
}

.redesLista1 {
  margin-top: 5px;
}
.redesLista1 a {
  color: #000;
  font-size: 22px;
  letter-spacing: 10px;
}

.tituloListaFooter {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 525;
}

.subTitulolistaFooter {
  font-size: 16px;
  text-decoration: underline;
}

.listaFooter2 li a {
  color: #000;
}

.contTextoFooter p {
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
  color: #000;
  font-size: 15px;
}

.contPerfil {
  display: flex;
  justify-content: end;
  margin-top: 25px;
}
.contPerfil p {
  color: #000;
  margin-bottom: 3px;
  font-size: 13px;
  padding-top: 10px;
  border-top: 1px solid #000;
  width: 395px;
  text-align: center;
}

.perfilRedes {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  padding-bottom: 20px;
}
.perfilRedes a {
  color: #000;
  font-size: 17px;
  letter-spacing: 11px;
  padding-top: 2px;
}

/* link wspp */
.wsppLink {
  height: 53px;
  width: 53px;
  background-color: #329240;
  color: #fff;
  position: fixed;
  bottom: 89px;
  right: 50px;
  line-height: 53px;
  border-radius: 50%;
  box-shadow: 0 0 6px #4e4e4e;
  text-align: center;
  font-size: 32px;
}
.wsppLink:hover {
  color: #fff;
}

/* productos */
.contenedorEnlacesProductos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.contenedorEnlacesProductos a img {
  width: 206px;
  margin: 4px;
}

.tituloProductos {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  margin-left: 312px;
  font-weight: 550;
  scroll-margin-top: 40px;
}

.contenedorDietetica2 {
  margin-top: 20px;
}

.imgBodyCare {
  border-radius: 10px;
}

.contenedorSuplementos2 {
  margin-top: 20px;
}

/* salud */
/* diabetes */
.diabetes {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../assets/diabetes.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
}
.diabetes .subContDiabetes {
  width: 1300px;
}
.diabetes .subContDiabetes h3 {
  color: #fff;
  padding-top: 90px;
  font-size: 35px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.diabetes .subContDiabetes p {
  color: #fff;
  font-size: 19px;
}
.diabetes .subContDiabetes a {
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
  padding: 7px;
  border-radius: 7px;
  background-color: #f48ab6;
}

/* plantillas */
.contenedorPlantillas {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  width: 1300px;
  margin: 0 auto;
}
.contenedorPlantillas .textoTitulo {
  margin-right: 212px;
}
.contenedorPlantillas .textoTitulo h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
}
.contenedorPlantillas .textoTitulo p {
  font-size: 19px;
}
.contenedorPlantillas .textoTitulo a {
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  font-size: 18px;
  padding: 7px;
  border-radius: 7px;
  background-color: #f48ab6;
}
.contenedorPlantillas .plantillas img {
  width: 460px;
  border-radius: 10px;
}

/* recetas */
.contenedorRecetas {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  width: 1300px;
  margin-bottom: 100px;
}
.contenedorRecetas .textoTitulo2 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
}
.contenedorRecetas .textoTitulo2 p {
  font-size: 19px;
}
.contenedorRecetas .textoTitulo2 a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 7px;
  border-radius: 7px;
  background-color: #f48ab6;
}
.contenedorRecetas .recetas img {
  width: 550px;
  border-radius: 10px;
}

/* alquiler ortopedico */
.contenedorAlquilerOrtopedico {
  background: linear-gradient(rgba(5, 7, 12, 0.534), rgba(5, 7, 12, 0.534)), url(../assets/importancia-rehabilitacion-despues-cirugia-ortopedica-2.jpg);
  width: 100%;
  height: 700px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contenedorAlquilerOrtopedico .subContAlquilerOrtope {
  width: 1300px;
  margin: 0 auto;
}
.contenedorAlquilerOrtopedico .subContAlquilerOrtope h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  padding-top: 90px;
}
.contenedorAlquilerOrtopedico .subContAlquilerOrtope p {
  font-size: 19px;
  color: #fff;
}
.contenedorAlquilerOrtopedico .subContAlquilerOrtope a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 7px;
  border-radius: 7px;
  background-color: #f48ab6;
}

/* sucursales */
.contenedorMapas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
}
.contenedorMapas .sucursalEtruria .h3mapas, .contenedorMapas .sucursalPasco .h3mapas, .contenedorMapas .sucursalLaguna .h3mapas {
  font-size: 25px;
  text-align: center;
  margin-bottom: 13px;
  font-family: "Montserrat", sans-serif;
}
.contenedorMapas .sucursalEtruria .listaMapa li, .contenedorMapas .sucursalPasco .listaMapa li, .contenedorMapas .sucursalLaguna .listaMapa li {
  list-style: none;
  margin-top: 10px;
}
.contenedorMapas .sucursalEtruria .listaMapa li i, .contenedorMapas .sucursalPasco .listaMapa li i, .contenedorMapas .sucursalLaguna .listaMapa li i {
  padding: 5px;
  margin-right: 10px;
  font-size: 22px;
  color: #fff;
  background-color: #37B34A;
  height: 40px;
  width: 40px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
/* convenios y obras sociales */
.h2Convenios {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 2px;
}

.contenedorConveniosObrasSos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contenedorConveniosObrasSos .subcontCaja1 {
  display: flex;
  justify-content: center;
  background-color: #cee1f4;
  padding-top: 27px;
  padding-bottom: 27px;
  border-radius: 10px;
  width: 380px;
  height: 130px;
  margin: 10px;
}
.contenedorConveniosObrasSos .subcontCaja1 .imgLink {
  text-decoration: none;
  display: flex;
}
.contenedorConveniosObrasSos .subcontCaja1 .imgLink img {
  width: 250px;
  height: 67px;
  margin-right: 10px;
}
.contenedorConveniosObrasSos .subcontCaja1 p {
  color: #fff;
  background-color: #f48ab6;
  height: 35px;
  width: 35px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 12px;
}

/* media queris */
@media (max-width: 1610px) {
  .categoriasTitulo, .h2ProductsDestacados, .titlElecSalud {
    margin-left: 160px;
  }
}
@media (max-width: 1020px) {
  .contenedorRecetas {
    display: block;
    width: 385px;
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .contenedorRecetas .textoTitulo2 h3 {
    text-align: center;
    font-size: 18px;
  }
  .contenedorRecetas .textoTitulo2 p {
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
  .contenedorRecetas .textoTitulo2 .enviarReceta {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .contenedorRecetas .textoTitulo2 .enviarReceta a {
    padding: 4px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
  }
  .contenedorRecetas .recetas {
    margin-top: 17px;
    display: flex;
    justify-content: center;
  }
  .contenedorRecetas .recetas img {
    width: 250px;
  }
  .diabetes {
    display: block;
    background: none;
    margin-top: 60px;
    height: 0px;
    text-align: center;
  }
  .diabetes .subContDiabetes {
    margin-bottom: 60px;
    width: 385px;
    height: 160px;
  }
  .diabetes .subContDiabetes h3 {
    padding: 0;
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    color: #000;
  }
  .diabetes .subContDiabetes p {
    font-size: 11px;
    text-align: center;
    margin: 0px;
    color: #000;
  }
  .diabetes .subContDiabetes .recetas {
    margin-top: 10px;
  }
  .diabetes .subContDiabetes .recetas a {
    padding: 4px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
  }
  .contenedorPlantillas {
    display: block;
    padding: 0px;
    width: 385px;
  }
  .contenedorPlantillas .textoTitulo {
    margin-right: 0px;
    margin-top: 208px;
  }
  .contenedorPlantillas .textoTitulo h3 {
    font-size: 18px;
    text-align: center;
  }
  .contenedorPlantillas .textoTitulo p {
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
  .contenedorPlantillas .textoTitulo .recetas {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .contenedorPlantillas .textoTitulo .recetas a {
    margin-top: 0px;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
  }
  .contenedorPlantillas .plantillas {
    margin-top: 17px;
    display: flex;
    justify-content: center;
  }
  .contenedorPlantillas .plantillas img {
    width: 250px;
  }
  .contenedorAlquilerOrtopedico {
    background: none;
    margin-top: 60px;
    margin-bottom: 60px;
    height: 150px;
  }
  .contenedorAlquilerOrtopedico .subContAlquilerOrtope {
    width: 385px;
  }
  .contenedorAlquilerOrtopedico .subContAlquilerOrtope h3 {
    color: #000;
    text-align: center;
    font-size: 18px;
    padding: 0px;
  }
  .contenedorAlquilerOrtopedico .subContAlquilerOrtope p {
    color: #000;
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
  .contenedorAlquilerOrtopedico .subContAlquilerOrtope .recetas {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .contenedorAlquilerOrtopedico .subContAlquilerOrtope .recetas a {
    margin-top: 0px;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
  }
}
@media (max-width: 1020px) {
  .text-fijo {
    font-size: 11px;
  }
  .logo-principal {
    width: 115px;
    margin-left: 5px;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link {
    margin-right: 10px;
    font-size: 13px;
  }
  .redesNavBar a {
    display: none;
  }
  .navbar-toggler {
    padding: 0.3rem 0.5rem;
    font-size: 16px;
  }
  .navbar-toggler .navbar-toggler-icon {
    width: 25px;
  }
}
.carousel-control-prev-icon {
  width: 20px;
}

.carousel-control-next-icon {
  width: 20px;
}

#carouselExampleIndicators .carousel-indicators button {
  width: 20px;
  height: 2px;
  border: 0;
}

@media (max-width: 1020px) {
  .contenedorHome .h1-icon {
    display: block;
    margin-top: 25px;
  }
  .contenedorHome .h1-icon h1 {
    font-size: 15px;
    margin-top: 13px;
  }
  .contenedorHome .h1-icon .logoH1 {
    width: 30px;
    height: 30px;
    margin-right: 0px;
    display: block;
    margin: 0 auto;
  }
  .contenedor-categorias .categoriasTitulo, .contenedor-categorias .h2ProductsDestacados, .contenedor-categorias .titlElecSalud {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 13px;
    margin-bottom: 2px;
  }
  .contenedor-categorias .sub-cont-categorias1 {
    margin-top: 2px;
  }
  .contenedor-categorias .sub-cont-categorias1 .categoria {
    margin: 2px;
  }
  .contenedor-categorias .sub-cont-categorias1 .categoria img {
    margin: 0px;
    width: 120px;
  }
  .contenedor-categorias .sub-cont-categorias2 {
    display: none;
  }
  .contenedor-categorias .sub-cont-categorias2 .categoria {
    margin: 1px;
  }
  .contenedor-categorias .sub-cont-categorias2 .categoria img {
    margin: 0px;
    width: 120px;
  }
  .contenedor-categorias .categoria-display-celular {
    display: flex;
    margin: 2px;
  }
  .contenedor-categorias .categoria-display-celular img {
    width: 120px;
  }
  .contenedorDermo {
    margin-top: 30px;
  }
  .contenedorDermo img {
    padding: 0px 12px 0px 12px;
  }
  .contenedorAccesorios {
    margin-top: 30px;
  }
  .contenedorAccesorios img {
    padding: 0px 13px 0px 13px;
  }
  .titlElecSalud {
    margin-left: 14px;
    margin-top: 30px;
    font-size: 13px;
    margin-bottom: 2px;
  }
  .contenedorElectroSalud .cardsDestacados {
    width: 177px;
    margin: 5px 5px 10px 5px;
  }
  .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest {
    height: 60px;
    width: 160px;
    margin: 0px 10px 0px 10px;
  }
  .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest h3 {
    font-size: 11px;
  }
  .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest .flexPa p {
    font-size: 10px;
  }
  .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest .flexPa a {
    font-size: 12px;
    height: 19px;
    width: 19px;
    line-height: 17px;
    margin-top: 10px;
  }
  .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest .flexPa .nebUltra-A {
    margin-top: 5px;
  }
  .contenedorSaludGeneral {
    margin-top: 30px;
  }
  .contenedorSaludGeneral .contenedorSalud {
    width: auto;
    padding: 20px;
    height: 289px;
    margin: 10px;
  }
  .contenedorSaludGeneral .contenedorSalud h3 {
    font-size: 15px;
  }
  .contenedorSaludGeneral .contenedorSalud p {
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .contenedorSaludGeneral .contenedorSalud .aSalud {
    margin-top: 15px;
  }
  .contenedorSaludGeneral .contenedorSalud .aSalud a {
    font-size: 12px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas {
    margin: 10px 10px 0px 10px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas {
    padding: 20px;
    height: 289px;
    width: auto;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas h3 {
    font-size: 15px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas p {
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 0px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas .aRecPlant {
    margin-top: 15px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContRecetas .aRecPlant a {
    font-size: 12px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas {
    margin-top: 20px;
    padding: 20px;
    height: 289px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas h3 {
    font-size: 15px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas p {
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas .aRecPlant {
    margin-top: 14px;
  }
  .contenedorSaludGeneral .contenedorPlantRecetas .subContPlantillas .aRecPlant a {
    font-size: 12px;
  }
  .h2ProductsDestacados, .titlElecSalud {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 13px;
    margin-bottom: 2px;
  }
  .contenedorDestacados .cardsDestacados, .contenedorElectroSalud .cardsDestacados, .contenedorPañales .cardsDestacados, .contenedorLeches .cardsDestacados, .contenedorDietetica .cardsDestacados, .contenedorDietetica2 .cardsDestacados, .contenedorOrtopedia .cardsDestacados, .contenedorProductosFaciales .cardsDestacados, .contenedorSuplementos .cardsDestacados, .contenedorSuplementos2 .cardsDestacados {
    width: 177px;
    margin: 5px;
  }
  .contenedorDestacados .cardsDestacados .cardDest .dataCardDest, .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest, .contenedorPañales .cardsDestacados .cardDest .dataCardDest, .contenedorLeches .cardsDestacados .cardDest .dataCardDest, .contenedorDietetica .cardsDestacados .cardDest .dataCardDest, .contenedorDietetica2 .cardsDestacados .cardDest .dataCardDest, .contenedorOrtopedia .cardsDestacados .cardDest .dataCardDest, .contenedorProductosFaciales .cardsDestacados .cardDest .dataCardDest, .contenedorSuplementos .cardsDestacados .cardDest .dataCardDest, .contenedorSuplementos2 .cardsDestacados .cardDest .dataCardDest {
    height: 60px;
    width: 160px;
    margin: 0px 10px 0px 10px;
  }
  .contenedorDestacados .cardsDestacados .cardDest .dataCardDest h3, .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest h3, .contenedorPañales .cardsDestacados .cardDest .dataCardDest h3, .contenedorLeches .cardsDestacados .cardDest .dataCardDest h3, .contenedorDietetica .cardsDestacados .cardDest .dataCardDest h3, .contenedorDietetica2 .cardsDestacados .cardDest .dataCardDest h3, .contenedorOrtopedia .cardsDestacados .cardDest .dataCardDest h3, .contenedorProductosFaciales .cardsDestacados .cardDest .dataCardDest h3, .contenedorSuplementos .cardsDestacados .cardDest .dataCardDest h3, .contenedorSuplementos2 .cardsDestacados .cardDest .dataCardDest h3 {
    font-size: 11px;
  }
  .contenedorDestacados .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorPañales .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorLeches .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorDietetica .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorDietetica2 .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorOrtopedia .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorProductosFaciales .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorSuplementos .cardsDestacados .cardDest .dataCardDest .flexPa p, .contenedorSuplementos2 .cardsDestacados .cardDest .dataCardDest .flexPa p {
    font-size: 10px;
  }
  .contenedorDestacados .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorElectroSalud .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorPañales .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorLeches .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorDietetica .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorDietetica2 .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorOrtopedia .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorProductosFaciales .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorSuplementos .cardsDestacados .cardDest .dataCardDest .flexPa a, .contenedorSuplementos2 .cardsDestacados .cardDest .dataCardDest .flexPa a {
    font-size: 12px;
    height: 19px;
    width: 19px;
    line-height: 17px;
    margin-top: 10px;
  }
  .logo-footer {
    width: 70px;
    height: 70px;
    margin-left: 8px;
  }
  .parrafoSeguinos {
    font-size: 11px;
    margin-left: 10px;
  }
  .redesLista1 {
    margin-left: 15px;
  }
  .redesLista1 a {
    font-size: 17px;
    letter-spacing: 5px;
  }
  .tituloListaFooter {
    font-size: 14px;
  }
  .subTitulolistaFooter {
    font-size: 12px;
  }
  .listaFooter2 ul li a {
    font-size: 12px;
  }
  .listaFooter3 ul li {
    font-size: 11px;
    margin-right: 10px;
  }
  .listaFooter3 ul .tituloListaFooter {
    font-size: 14px;
    margin-right: 10px;
  }
  .contTextoFooter p {
    font-size: 11px;
  }
  .contenedorFooter {
    padding-bottom: 14px;
    margin-top: 30px;
  }
  footer {
    text-align: center;
  }
  .wsppLink {
    height: 35px;
    width: 35px;
    line-height: 36px;
    font-size: 21px;
    bottom: 80px;
    right: 14px;
    box-shadow: 0 0 3px #4e4e4e;
    position: fixed;
  }
  .contPerfil {
    margin-top: 17px;
  }
  .contPerfil p {
    font-size: 9px;
    text-align: right;
    padding-right: 11px;
    width: 190px;
    margin-bottom: 1px;
  }
  .perfilRedes {
    margin-right: 5px;
    padding-bottom: 15px;
  }
  .perfilRedes a {
    font-size: 14px;
    padding-top: 1px;
    letter-spacing: 9px;
  }
}
@media (max-width: 1020px) {
  .contenedorEnlacesProductos {
    margin-top: 30px;
  }
  .contenedorEnlacesProductos a img {
    width: 115px;
  }
  .tituloProductos {
    font-size: 13px;
    margin: 30px 0px 2px 14px;
    scroll-margin-top: 30px;
  }
  .contenedorSuplementos2 {
    margin: 0px;
  }
  .contenedorDietetica2 {
    margin: 0px;
  }
}
@media (max-width: 1020px) {
  .h2Convenios {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .contenedorConveniosObrasSos .subcontCaja1 {
    align-items: center;
    width: 320px;
    height: 100px;
    padding: 20px;
  }
  .contenedorConveniosObrasSos .subcontCaja1 .imgLink img {
    width: 205px;
    height: 57px;
    margin-right: 0px;
  }
  .contenedorConveniosObrasSos .subcontCaja1 p {
    display: none;
  }
}
@media (max-width: 1020px) {
  .contenedorMapas .sucursalEtruria, .contenedorMapas .sucursalLaguna, .contenedorMapas .sucursalPasco {
    margin-bottom: 60px;
  }
  .contenedorMapas .sucursalEtruria .h3mapas h3, .contenedorMapas .sucursalLaguna .h3mapas h3, .contenedorMapas .sucursalPasco .h3mapas h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .contenedorMapas .sucursalEtruria .listaMapa, .contenedorMapas .sucursalLaguna .listaMapa, .contenedorMapas .sucursalPasco .listaMapa {
    margin-top: 25px;
  }
  .contenedorMapas .sucursalEtruria .listaMapa ul li, .contenedorMapas .sucursalLaguna .listaMapa ul li, .contenedorMapas .sucursalPasco .listaMapa ul li {
    font-size: 15px;
  }
  .contenedorMapas .sucursalEtruria .listaMapa ul li i, .contenedorMapas .sucursalLaguna .listaMapa ul li i, .contenedorMapas .sucursalPasco .listaMapa ul li i {
    font-size: 17px;
    height: 35px;
    width: 35px;
    line-height: 25px;
  }
  .contenedorMapas .sucursalLaguna {
    margin-bottom: 60px;
  }
  .contenedorMapas .sucursalLaguna .h3mapas h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .contenedorMapas .sucursalPasco {
    margin-bottom: 60px;
  }
  .contenedorMapas .sucursalPasco .h3mapas h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=estilo.css.map */
